.ingredient-management-page-container {
  display: flex;
  height: 100%;
}

.ingredient-management-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ffffff; /* White background */
}

.ingredient-management-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000; /* Black text */
  font-weight: bold;
}

.add-receipt-button {
  padding: 10px 20px;
  background-color: #f97316; /* Orange button */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-receipt-button:hover {
  background-color: #ea580c; /* Darker orange on hover */
}